blockquote {
    @include margin-shorthand-with-screens-support((
        top: $blockquote-margin-top,
        bottom: $blockquote-margin-bottom,
        left: $blockquote-margin-left,
        right: $blockquote-margin-right
    ), $blockquote-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $blockquote-border-width,
            style: $blockquote-border-style,
            color: $blockquote-border-color,
            make-shorthand: true
        ),
        border-left: (
            width: $blockquote-border-left-width,
            style: $blockquote-border-left-style,
            color: $blockquote-border-left-color,
            make-shorthand: $blockquote-border-left-make-shorthand
        )
    ), $blockquote-borders));
    @include padding-shorthand((
        top: $blockquote-padding-top, 
        bottom: $blockquote-padding-bottom, 
        left: $blockquote-padding-left, 
        right: $blockquote-padding-right
    ));
    @include blockquote-extra-style();
}