//Margins
$blockquote-margin-top: $elements-margin-top !default;
$blockquote-margin-bottom: $elements-margin-bottom !default;
$blockquote-margin-left: 1rem !default;
$blockquote-margin-right: $elements-margin-right !default;
$blockquote-margin-for-screens: () !default;

//Borders
$blockquote-border-width: 0 !default;
$blockquote-border-style: null !default;
$blockquote-border-color: null !default;

$blockquote-border-left-width: 0.2rem !default;
$blockquote-border-left-style: solid !default;
$blockquote-border-left-color: $primary-color !default;
$blockquote-border-left-make-shorthand: true !default;

$blockquote-borders: () !default;

//Paddings
$blockquote-padding-top: 0 !default;
$blockquote-padding-bottom: 0 !default;
$blockquote-padding-left: 1rem !default;
$blockquote-padding-right: 0 !default;

//Extra style
//@mixin blockquote-extra-style() {} //Create this mixin before import module when you want add some special style for element